


// RESET

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

ul{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: inherit;
}


// HEADER




